#logoBrand {
  background-image: url('/assets/img/logo-brand-light.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size: 100%;
  height: 270px;
  width: 100%;
}
@media (max-width: 380px) {
  #logoBrand {
    height: 170px;
  }
}
@media (min-width: 1024px) and (min-height: 601px) {
  #logoBrand {
    height: 440px;
  }
}
@media (min-width: 1680px) {
  #logoBrand {
    height: 560px;
  }
}

@media (prefers-color-scheme: dark) {
  #logoBrand {
    background-image: url('/assets/img/logo-brand-dark.png');
  }
}

.hrRight {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 80px;
  float: right;
}

.marginVariable {
  margin-top: 12pt;
}

.fontM {
  color: #ccc;
}

@media (max-height: 610px) {
  .marginVariable {
    margin-top: 0pt;
  }
}

@media (max-width: 330px) {
  .fontM {
    font-size: 11pt;
  }
}

.hrLeft {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 80px;
  float: left;
}
