#logoBrand {
  background-image: url('/assets/icon/logo-brand-light.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size: 100%;
  height: 180px;
  width: 100%;
}
@media (max-width: 380px) {
  #logoBrand {
    height: 120px;
  }
}
@media (min-width: 1024px) and (min-height: 601px) {
  #logoBrand {
    height: 400px;
  }
}
@media (min-width: 1680px) {
  #logoBrand {
    height: 520px;
  }
}

@media (prefers-color-scheme: dark) {
  #logoBrand {
    background-image: url('/assets/icon/logo-brand-dark.png');
  }
}

.isInvalid {
  color: #eb445a !important;
  padding-left: 20px !important;
  line-height: 1.6rem !important;
}
