<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button id="nested-button">
        <ion-img [src]="user.avatar" id="avatarHeader"></ion-img>
      </ion-button>
    </ion-buttons>
    <div id="logoHeader"></div>
  </ion-toolbar>
</ion-header>

<app-header-popover></app-header-popover>

<ion-content>
  <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'" [zoom]="[14]" [center]="[user.lng, user.lat]">
    <mgl-marker *ngFor="let area of areas" [lngLat]="[area.lng, area.lat]">
      <div [routerLink]="['/areas/details/', area._id]" [routerDirection]="'forward'" class="marker"><ion-icon name="location-sharp" class="areaMarker"></ion-icon></div>
    </mgl-marker>
  </mgl-map>
</ion-content>

<app-menu-tab></app-menu-tab>
