mgl-map {
  height: 100% !important;
  width: 100% !important;
}

#logoHeader {
  background-image: url('/assets/icon/logo-light.png');
  background-position:center center;
  background-repeat:no-repeat;
  height: 56px;
  width: 155px;
}

@media (prefers-color-scheme: dark) {
  #logoHeader {
    background-image: url('/assets/icon/logo-dark.png');
  }
}

#avatarHeader {
  height: 32px !important;
  width: 32px !important;
}

.sc-ion-buttons-md-s::part(native) {
  --padding: 0 !important;
}

ion-img::part(image) {
  border-radius: 16px !important;
}

#nested-button {
  --border-radius: 50px !important;
  --padding: 0 !important;
}

.areaMarker {
  color: #469eff !important;
  font-size: 48px !important;
}
