<ion-header>
  <ion-toolbar>
    <ion-img [src]="logoHeader" id="logoHeader" slot="start"></ion-img>
    <ion-button><ion-icon id="avatarHeader" id="nested-button" name="person-circle" slot="end"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<app-header-popover></app-header-popover>

<ion-content>
  <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'" [zoom]="[15]" [center]="[lng, lat]">
    <mgl-marker #marker [lngLat]="[lng, lat]"></mgl-marker>
  </mgl-map>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="startNavigation()">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-menu-tab></app-menu-tab>
