mgl-map {
  height: 100% !important;
  width: 100% !important;
}

ion-fab {
  padding-right: 10px;
  padding-bottom: 30px;
}

#logoHeader {
  background-image: url('/assets/icon/logo-light.png');
  background-position:center center;
  background-repeat:no-repeat;
  height: 56px;
  width: 155px;
}

@media (prefers-color-scheme: dark) {
  #logoHeader {
    background-image: url('/assets/icon/logo-dark.png');
  }
}

