mgl-map {
  height: 450px !important;
  width: 100% !important;
}

.isInvalid {
  color: #eb445a !important;
  padding-left: 20px !important;
  line-height: 1.6rem !important;
}

.isInvalidImg {
  font-size: 14px !important;
  padding-left: 20px !important;
  line-height: 1.6rem !important;
}
