<ion-popover trigger="nested-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false">
          <ion-label><ion-icon name="person-outline" class="iconPopover"></ion-icon>Mi perfil</ion-label>
        </ion-item>
        <ion-item [button]="true" [detail]="false">
          <ion-label><ion-icon name="star-outline" class="iconPopover"></ion-icon>Favoritos</ion-label>
        </ion-item>
        <ion-item [button]="true" [detail]="false" [routerLink]="['/auth/login']">
          <ion-label><ion-icon name="exit-outline" color="danger" class="iconPopover"></ion-icon>Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
