<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/areas']" [routerDirection]="'back'">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Guardado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-text-center" id="gridGuardados" *ngIf="areasSaved.length === 0">
      <div id="gridContentGuardados">
        <ion-row>
          <ion-col>
            <ion-icon name="bookmark-outline" id="iconGuardados"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-title>No hay áreas guardadas</ion-title>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <div *ngIf="areasSaved.length > 0">
      <ion-list>
        <ion-item *ngFor="let area of areasSaved">
          <ion-thumbnail slot="start" [routerLink]="['/areas/details/', area._id]" [routerDirection]="'forward'">
            <img [src]="area.image" style="border-radius: 50%;">
          </ion-thumbnail>
          <ion-label text-wrap [routerLink]="['/areas/details/', area._id]" [routerDirection]="'forward'">
            <h2>{{area.name}}</h2>
          </ion-label>
          <ion-button slot="end" fill="clear" color="danger" (click)="delete(area._id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
