.confirmSOS {
  background-color: green !important;
  color: white !important;
}

.button-has-icon-only.button-clear::part(native) {
  padding: 0 !important;
  font-size: 20px !important;
}

#btnNewArea {
  font-size: 40px !important;
}

ion-fab-button {
  margin-left: -4.2px !important;
  width: 66px !important;
  height: 66px !important;
  --background: #469eff !important;
}
