<ion-toolbar>
  <ion-buttons>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/areas/guardado']" [routerDirection]="'root'">
            <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
        </ion-col>
        <ion-col>
          <ion-button (click)="emergencyCall()">
            <ion-icon slot="icon-only" name="call-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-buttons>
</ion-toolbar>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button [routerLink]="['/areas/add']" [routerDirection]="'root'">
    <ion-icon name="add-sharp" id="btnNewArea"></ion-icon>
  </ion-fab-button>
</ion-fab>
