<ion-toolbar>
  <ion-buttons>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/areas']" [routerDirection]="'root'">
            <ion-icon slot="icon-only" name="map-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button [routerLink]="['/areas/add']" [routerDirection]="'root'">
            <ion-icon slot="icon-only" name="add-circle-outline" id="btnNewArea"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="emergencyCall()">
            <ion-icon slot="icon-only" name="call-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-buttons>
</ion-toolbar>
