<ion-header>
  <ion-toolbar color="light">
    <ion-title>Cambiar contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header color="light">
      {{user.name}}, establece aquí tu nueva contraseña
    </ion-list-header>
  </ion-list>
  <ion-item>
    <ion-label position="floating">Nueva contraseña</ion-label>
    <ion-input type="password" name="password" required [(ngModel)]="password" #passwordModel="ngModel"></ion-input>
    <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passwordModel.dirty && passwordModel.valid">
    </ion-icon>
    <hr>
    <ion-label position="floating">Repetir contraseña</ion-label>
    <ion-input type="password" name="password2" required [(ngModel)]="password2" #password2Model="ngModel"></ion-input>
    <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="password2Model.dirty && password2Model.valid">
    </ion-icon>
  </ion-item>
  <ion-button color="success" expand="block" (click)="editPassword()" class="ion-margin-top">
    <ion-label>Guardar cambios</ion-label>
  </ion-button>
</ion-content>
